<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
    <div class="title">
        <h4>Lista dos produtos</h4>
        <button type="button" class="btn btn-primary" routerLink="/add">Adicionar produto</button>
    </div>
    
    <table *ngIf="listProducts.length > 0" class="table table-light">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col">Estoque</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listProducts" class="table-active">
            <td> {{ item.name }}</td>
            <td> {{ item.description }}</td>
            <td> {{ item.price }}</td>
            <td> {{ item.stock }}</td>
            <td>
                <button routerLink="/edit/{{ item.id }}" type="button" class="btn btn-info btn-sm">Editar</button>
                <button (click)="deleteProduct(item.id!)" type="button" class="btn btn-secondary btn-sm ms-2">Apagar</button>
            </td>
          </tr>
        </tbody>
    </table>
    <h5 *ngIf="listProducts.length == 0">Nenhum produto cadastrado</h5>
    
</div>

